
HW4.ipynb
.idea/.name
.idea/290.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.ipynb_checkpoints/HW4-checkpoint.ipynb
.ipynb_checkpoints/son-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled_(3)_(1)-checkpoint.ipynb
terminal_commands.gif
Untitled.ipynb
Untitled1.ipynb
Untitled_(3)_(1).ipynb
